<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.atyume.ibabym"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup"
        android:usesCleartextTraffic="true"
        android:name=".basics.MyApplication"

        >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"></activity>
        <!--<activity android:name=".ui.home.testActivity"></activity>-->
        <activity android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--体检项目-->
        <activity android:name=".ui.home.ProjectViewActivity"></activity>
        <activity android:name=".ui.home.EditProject"></activity>
        <activity android:name=".ui.home.ProjectInfo"></activity>
        <!--体检套餐-->
        <activity android:name=".ui.home.ExamViewActivity"></activity>
        <activity android:name=".ui.home.EditExam"></activity>
        <activity android:name=".ui.home.ExamInfoActivity"></activity>
        <activity android:name=".ui.dashboard.SelectExamShowList"></activity>
        <activity android:name=".ui.dashboard.ExamRecorderList"></activity>
        <!--疫苗-->
        <activity android:name=".ui.home.EditMiao"></activity>
        <activity android:name=".ui.home.MiaoViewActivity"></activity>
        <activity android:name=".ui.home.MiaoAllInfo"></activity>
        <activity android:name=".ui.dashboard.SelectMiaoShowList"></activity>
        <activity android:name=".ui.dashboard.MiaoRecorderList"></activity>
        <!--宝宝信息-->
        <activity android:name=".ui.home.BabyViewActivity"></activity>
        <activity android:name=".ui.home.EditBaby"></activity>
        <activity android:name=".ui.dashboard.ViewBabyInfo"></activity>
        <activity android:name=".ui.notifications.UpdateBaby"></activity>
        <activity android:name=".ui.home.BabyAllInfo"></activity>
        <!--医院信息-->
        <activity android:name=".ui.home.EditHos"></activity>
        <activity android:name=".ui.home.HosViewActivity"></activity>
        <activity android:name=".ui.home.HosInfoActivity"></activity>
        <!--登陆注册-->
        <!--<activity android:name=".ui.LoginActivity"></activity>-->
        <activity android:name=".ui.RegisterActivity"></activity>
        <activity android:name=".ui.notifications.EditPassword"></activity>
        <activity android:name=".ui.ResetPwd"></activity>
        <!--用户信息-->
        <activity android:name=".ui.notifications.ViewUser"></activity>
        <activity android:name=".ui.notifications.EditUser"></activity>
        <!--预约-查看疫苗-->
        <activity android:name=".ui.dashboard.RecyclerMiaoActivity"></activity>
        <activity android:name=".ui.dashboard.ViewMiaoDetail"></activity>
        <activity android:name=".ui.dashboard.OrderMiao"></activity>
        <activity android:name=".ui.dashboard.ShowOrderMiaoInfo"></activity>
        <!--预约-查看体检套餐-->
        <activity android:name=".ui.dashboard.RecyclerExamActivity"></activity>
        <activity android:name=".ui.dashboard.ViewExamDetail"></activity>
        <activity android:name=".ui.dashboard.OrderExam"></activity>
        <activity android:name=".ui.dashboard.ShowOrderExamInfo"></activity>

        <activity

            android:name="com.mob.tools.MobUIShell"

            android:theme="@android:style/Theme.Translucent.NoTitleBar"

            android:configChanges="keyboardHidden|orientation|screenSize"

            android:windowSoftInputMode="stateHidden|adjustResize"/>
    </application>

</manifest>