<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.atyume.ibabym"
    >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup"
        android:usesCleartextTraffic="true"
        >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--体检项目-->
        <activity android:name=".ui.home.ProjectViewActivity"></activity>
        <activity android:name=".ui.home.EditProject"></activity>
        <!--体检套餐-->
        <activity android:name=".ui.home.ExamViewActivity"></activity>
        <activity android:name=".ui.home.EditExam"></activity>
        <!--疫苗-->
        <activity android:name=".ui.home.MiaoManage"></activity>
        <activity android:name=".ui.home.EditMiao"></activity>
        <activity android:name=".ui.home.MiaoViewActivity"></activity>
        <!--宝宝信息-->
        <activity android:name=".ui.home.BabyViewActivity"></activity>
        <activity android:name=".ui.home.EditBaby"></activity>
        <activity android:name=".ui.dashboard.ViewBabyInfo"></activity>
        <!--医院信息-->
        <activity android:name=".ui.home.EditHos"></activity>
        <activity android:name=".ui.home.HosViewActivity"></activity>
        <!--登陆注册-->
        <activity android:name=".ui.LoginActivity"></activity>
        <activity android:name=".ui.RegisterActivity"></activity>

    </application>

</manifest>